<div> 
  <h1>创建新品牌</h1> 

      <% form_for :brand, :url=>admin_brands_path() do |f| %> 

        <p>名称      <%= f.select :name,ListItem.select_list_of("brand_name")  %></p> 
  
        <p>型号       <%= f.select :style,ListItem.select_list_of("brand_style") %></p> 
  
        <p>排量       <%= f.select :capacity,ListItem.select_list_of("capacity") %></p>

        <p>备注       <%= f.text_area :desc,:size=>"50*5" %></p>
  
              <p><%= submit_tag "create"%> </p> 
            <% end %> 
</div> 
